:root {
  --base-font-family: "Work Sans", sans-serif;
  --base-font-size: clamp(1.8rem, 2vw, 1.9rem);
  --bg-color: #fff;
  --fg-color: #111;
}

@media (prefers-color-sheme: dark) {
  :root {
    --bg-color: #111;
    --fg-color: #fff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}