---
layout: default
---
<article class="entry">
  <header class="entry-header">
    <span class="entry-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d/%m/%Y" }}</time>
    </span>

    <h1 class="entry-title">
      {{ page.title }}
    </h1>

    <div class="entry-meta">
      {% if page.author and page.author != "" %}
        <span class="author">Por {{ page.author }}</span>
      {% endif %}

      <a class="post-permalink" href="{{ page.canonical_url }}" rel="bookmark">
        {{- page.canonical_url | split: "//" | last | split: "/" | first -}}
      </a>
    </div>
  </header>

  {{ content }}
</article>
